<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javahly.trainingservice.dao.TrainingSubjectDao">

    <sql id="comm_cols_subject">
        id id,s_id sId, title title,requirement requirement,contentAndStep contentAndStep,plan plan,assessmentRequirement assessmentRequirement,status status,state state,tutor tutor,spec_id specId,reason reason
    </sql>


    <sql id="add_comm_cols_subject">
       s_id,title,requirement,contentAndStep,plan,assessmentRequirement,status,tutor,spec_id
    </sql>


    <!--学生获取自己的课题-->
    <select id="getTrainingSubject" resultType="TrainingSubject">
        SELECT
        <include refid="comm_cols_subject"/>
        FROM training_subject
        <if test="sId!=null">
            WHERE s_id = #{sId}
        </if>
        limit 1
    </select>


    <!--添加实训题目-->
    <insert id="addTrainingSubject" parameterType="TrainingSubject" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        INSERT INTO training_subject(
        <include refid="add_comm_cols_subject"/>
        )VALUES
        (#{sId},#{title},#{requirement},#{contentAndStep},#{plan},#{assessmentRequirement},#{status},#{tutor},#{specId})
    </insert>

    <!--学生更新实训课题-->
    <update id="updateTrainingSubject" parameterType="TrainingSubject">
        UPDATE training_subject
        <set>
            <if test="title!=null">title=#{title,jdbcType=VARCHAR},</if>
            <if test="requirement!=null">requirement=#{requirement,jdbcType=VARCHAR},</if>
            <if test="contentAndStep!=null">contentAndStep=#{contentAndStep,jdbcType=VARCHAR},</if>
            <if test="plan!=null">plan=#{plan,jdbcType=VARCHAR},</if>
            <if test="assessmentRequirement!=null">assessmentRequirement=#{assessmentRequirement,jdbcType=VARCHAR},</if>
            <if test="status!=null">status=#{status},</if>
        </set>
        WHERE s_id = #{sId}
    </update>

    <!--指导教师,专业负责人获得课题-->
    <select id="getTrainingSubjectsByTId" resultType="TrainingSubject">
        SELECT
        <include refid="comm_cols_subject"/>
        FROM training_subject
        <where>
            <if test="tId!=null">tutor = #{tId}</if>
        </where>
        ORDER BY status DESC,s_id
    </select>

    <!--指导教师,专业负责人获得课题-->
    <select id="getTrainingSubjectsBySpecId" resultType="TrainingSubject">
        SELECT
        <include refid="comm_cols_subject"/>
        FROM training_subject
        <where>
            <if test="specId!=null">spec_id = #{specId}</if>
        </where>
        ORDER BY status DESC,s_id
    </select>

    <!--查询所有课题-->
    <select id="getTrainingSubjects" resultType="TrainingSubject">
        SELECT
        <include refid="comm_cols_subject"/>
        FROM training_subject ORDER  BY s_id
    </select>

    <!--指导教师课题审核-->
    <update id="updateTrainingSubjectStatus">
        UPDATE training_subject
        <set>
            <if test="status!=null||status!=''">status = #{status},</if>
            <if test="reason!=null||reason!=''">reason = #{reason},</if>
        </set>
        WHERE s_id = #{sId}
    </update>

    <!--专业负责人进行课题审核-->
    <update id="updateTrainingSubjectsStatus">
        UPDATE training_subject
        <set>
            <if test="status!=null||status!=''">status = #{status},</if>
            <if test="reason!=null||reason!=''">reason = #{reason},</if>
        </set>
        WHERE s_id IN
        <foreach collection="sIds" item="id" separator="," open="(" close=")" index="index">
            #{id}
        </foreach>
    </update>

    <!--批量更新，不加括号-->
    <update id="updateTeacher">
        UPDATE training_subject SET tutor =#{tId}
        WHERE s_id IN
        <foreach collection="students" item="id" separator="," open="(" close=")" index="index">
            #{id}
        </foreach>

    </update>

</mapper>