<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javahly.trainingservice.dao.TrainingSubjectDao">

    <sql id="comm_cols_subject">
        id id,s_id sId, title title,requirement requirement,contentAndStep contentAndStep,plan plan,assessmentRequirement assessmentRequirement,status status,state state,tutor tutor,spec_id specId,reason reason
    </sql>


    <sql id="add_comm_cols_subject">
       s_id,title,requirement,contentAndStep,plan,assessmentRequirement,status,tutor,spec_id
    </sql>


    <!--学生获取自己的课题-->
    <select id="getTrainingSubject"  resultType="TrainingSubject">
        SELECT <include refid="comm_cols_subject"/> FROM training_subject
        <if test="sId!=null">
            WHERE s_id = #{sId}
        </if>
        limit 1
    </select>


    <!--添加实训题目-->
    <insert id="addTrainingSubject" parameterType="TrainingSubject" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO training_subject(
        <include refid="add_comm_cols_subject"/>
        )VALUES
        (#{sId},#{title},#{requirement},#{contentAndStep},#{plan},#{assessmentRequirement},#{status},#{tutor},#{specId})
    </insert>


</mapper>