<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javahly.basicinfoservice.dao.TeacherDao">

    <sql id="comm_cols_teacher">
        t_id tId,t_name tName,t_sex tSex,t_dept tDept,t_post tPost,
        t_degree tDegree,t_study tStudy,t_email tEmail,t_phone tPhone,
        t_remark tRemark
    </sql>

    <!--查询所有教师信息-->
    <select id="getTeachers" resultType="teacher">
        SELECT <include refid="comm_cols_teacher"/>
        FROM teacher
    </select>


</mapper>