html{
  width:100%;
  height:100%;
}


.setWidth{
  width:100%!important;
}
.setColor{
  color:#0a628f!important;
}
.el-form-item__label{
  font-weight:400;
}
a{
  text-decoration:none!important;
}
@media screen and (min-width:1400px) {
  .widget{
    min-height:800px;
  }
}
@media screen and (min-width:1200px) {
  .widget{
    min-height:700px;
  }
}

