<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javahly.basicinfoservice.dao.SpecialityDao">

    <sql id="comm_cols_speciality">
       spec_id specId,spec_name specName,t_id tId
    </sql>

    <!--查询所有专业信息-->
    <select id="getSpecialities" resultType="speciality">
        SELECT
        <include refid="comm_cols_speciality"/>
        FROM speciality
    </select>

    <!--根据教师号查询专业信息-->
    <select id="getSpecialityIdByTeacherId" resultType="String">
        SELECT
        spec_id specId
        FROM speciality,teacher
        WHERE speciality.t_id = teacher.t_id AND teacher.t_id = #{tId}
    </select>


</mapper>