<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javahly.basicinfoservice.dao.StudentDao">


    <sql id="comm_cols_student">
        s_id sId,s_name sName,s_sex sSex,s_identitycard sIdentitycard,
        s_email sEmail,s_phone sPhone,s_address sAddress,s_remark sRemark,c_id cId,spec_id specId
    </sql>

    <!--查询所有学生信息-->
    <select id="getStudents" resultType="student">
        SELECT
        <include refid="comm_cols_student"></include>
        FROM student
    </select>


    <select id="getStudent" resultType="student">
        SELECT
        <include refid="comm_cols_student"></include>
        FROM student
        WHERE s_id=#{sId}
    </select>

    <select id="getStudentByIds" resultType="student">
        SELECT
        <include refid="comm_cols_student"></include>
        FROM student
        WHERE s_id IN
        <foreach collection="studentIds" item="id" open="(" close=")" index="index" separator=",">
            #{id}
        </foreach>
    </select>

    <!--根据教师号查询班级再查询该班级下的学生-->
    <select id="getStudentByTeacherClass" resultType="String">
        SELECT
        s_id sId
        FROM teacher,class,student
        WHERE teacher.t_id = class.t_id AND student.c_id = class.c_id AND teacher.t_id =#{tId}
    </select>

    <!--学生修改信息-->
    <update id="updateStudent" parameterType="student">
        UPDATE student
        <set>
            <if test="sName!=null || sName!=''">s_name=#{sName},</if>
            <if test="sSex!=null || sSex!=''">s_sex=#{sSex},</if>
            <if test="sEmail!=null || sEmail!=''">s_email=#{sEmail},</if>
            <if test="sPhone!=null || sPhone!=''">s_phone=#{sPhone},</if>
            <if test="sAddress!=null || sAddress!=''">s_address=#{sAddress},</if>
            <if test="sRemark!=null || sRemark!=''">s_remark=#{sRemark},</if>
            <if test="sIdentitycard!=null || sIdentitycard!=''">s_identitycard=#{sIdentitycard},</if>
        </set>
        WHERE s_id = #{sId}
    </update>
</mapper>